.forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.forgot-password__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: var(--margin-top-section);
    flex: 50%;

}

.forgot-password__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 900;
}

.forgot-password__title__icon {
    margin-left: 0.3rem;
}

.forgot-password__text {
    color: var(--text-color);
    margin: 1rem 0;
}

.forgot-password__form__inputs__wrapper {
    width: 35rem;
}