.add-course {
    width: 100%;
    margin: 2rem 0;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.add-course__input-radios__wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%;
}

.add-course__input-radio__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}


.add-course__input-radio__title {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1rem;

}


.add-course__input-radio__label {
    color: var(--primary-color);
    font-size: 0.8rem
}


.add-course__select-box__wrapper {
    margin: 1rem 0;
    width: 100%;
}

.add-course__select-box__title {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1rem;

}

.add-course__select-box {
    width: 100%;
    text-align: center;

    color: var(--text-color);
    background-color: var(--top-bar-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 0.4rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-family: var(--primary-font);
}

/************* Upload Image Start **************/
.add-course__upload-image {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    background-color: var(--bg-hover-color);
    margin: 1rem 0;
  }
  
  .add-course__upload-image__icon {
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
  }
  
  .add-course__upload-image__input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
  }
  
/************* Upload Image End **************/

.admin-courses {
    width: 100%;
}

.admin-courses__table__wrapper {
    overflow-x: auto;
    border: 1px solid var(--border-color);
    border-radius: 0.4rem;
    width: 100%;
}

.admin-courses__table {
    width: 100%;
}

.admin-courses__table-header {
    background-color: var(--side-bar-color);
    color: var(--white-color);
    border-radius: 0.4rem;
    font-weight: 900;
}

.admin-courses__table-body {}

.admin-courses__table__tr {
    border-bottom: 1px solid var(--border-color);
    transition: var(--transition);
}

.admin-courses__table__tr:hover {
    background-color: var(--bg-hover-color);
}

.admin-courses__table__th {
    line-height: 1.5rem;
    padding: 1rem;
    text-align: center;
}


.rounded-start {
    border-bottom-right-radius: 0.4rem !important;
    border-top-right-radius: 0.4rem !important;
}

.rounded-end {
    border-top-left-radius: 0.4rem !important;
    border-bottom-left-radius: 0.4rem !important;
}

.course-image {
    width: 4.5rem;
    border-radius: 0.4rem;
    margin-left: 0.5rem;
}

.category-style {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.item-width {
    min-width: 15rem;
    
    text-align: center;
}

.font-weight-item {
    font-weight: 900;
}


/*****   Table Buttons Styles *****/

.answer-btn {
    cursor: pointer;
    color:  #0cbc87;
    font-size: 1.5rem;
}

.edit-btn {
    cursor: pointer;
    color:  var(--primary-color);
    font-size: 1.5rem;
}


.delete-btn {
    cursor: pointer;
    color: #d6293e;
    font-size: 1.5rem;
}


.ban-btn {
    cursor: pointer;
    color: #3D6078;
    font-size: 1.5rem;
}
